{% extends 'bootstrap4/bootstrap4.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}
    <div class="container">
<div class="row">
    <div class="col-sm">
        <h1>{% block bootstrap4_title %}{% block title %}(no title){% endblock %}{% endblock %}</h1>
    </div>
</div>
        {% block nav %}
<div class="row">
    <div class="col-sm">
            {% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
            {% if not request.user.is_authenticated %}
                {% block nav-login %}<a href="{% url 'login' %}">login</a>{% endblock %}
            {% else %}
                <a href="{% url 'logout' %}">logout</a>
            {% endif %}
    </div>
</div>
        {% endblock %}

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

<div class="row">
    <div class="col-sm">

        {% block content %}(no content){% endblock %}
    </div>
</div>

{% endblock %}
