{% extends 'base.html' %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block nav-login %}<a class="nav-link active" href="{% url 'login' %}">Login</a>{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-8 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Login</h3>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form.as_p }}
           <button type="submit" class="btn btn-primary btn-block">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
       </div>
       <div class="card-footer text-muted">
         <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
         <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
       </div>
    </div>
  </div>
</div>
{% endblock %}
