{% extends 'bootstrap4/bootstrap4.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}
    <div class="container">
        <h1>{% block bootstrap4_title %}{% block title %}(no title){% endblock %}{% endblock %}</h1>

        {% block nav %}
        <p>
            {% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}

            {% if not request.user.is_authenticated %}
                {% block nav-login %}<a href="{% url 'login' %}">login</a>{% endblock %}
            {% else %}
                <a href="{% url 'logout' %}">logout</a>
            {% endif %}
        </p>
        {% endblock %}

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
